body{
    font-family: "Roboto", sans-serif;

margin: 0;}

h1{
    font-size: 50px;
}
#titlespan{
    color: chocolate;
}
.FlexibleContainer{
    display: flex;
    margin-bottom: 150px;
    
    
}
.TopBanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 15px 20px;
}

.halfWide{
    width: 50%;
    
}
.halfWide img{
    width: 80%;
    padding-left: 8%;
}
.LinkButton{
    text-decoration: none;
    background-color: rgb(230, 100, 8);
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 700;
}
.dreamBig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
